<div class="row">
  <div class="col s12 m6 l3">
    <div class="card large blue-grey">
      <div class="card-content white-text">
        <span class="card-title activator">{{ this.title }}</span>
        <p class="activator">{{ this.preview }}</p>
        <br>
        <span class="tags">{{ this.keywords }}</span>
      </div>
      <div class="card-reveal">
        <span class="card-title">{{ this.title }}<i class="material-icons right">close</i></span>
        <p>{{ this.description }}</p>
      </div>
    </div>
<a class="waves-effect waves-light btn"><i class="material-icons left"></i>read</a>
<a class="waves-effect waves-light btn"><i class="material-icons right"></i>Add</a>
</div>
