{{#each briefing}}
    <div class="container">
      <div class="briefing-container">
        <div class="row">
          <div class="center col s12">
            <img src="{{this.png}}" class="article-image briefing"></img>
          </div>
        </div>
        <div class="row">
          <div class="center col s12">
            <a href="{{this.link}}"><h4>{{this.title}}</h4></a>
          </div>
          <div class="center col s12">
            <h6>{{this.preview}}</h6>
          </div>
          <div class="left col s12">
            <p>{{this.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
{{/each}}
