<div class="row">
  <div class="col s10 offset-s1 l8 offset-l2">
    <h3>Edit User Profile</h3>
  </div>
  <div class="col s12 l8 offset-l2">
    <div class="card blue-grey lighten-5">
      <div class="card-content white-text">
        <div class="row ">
          <form class="col s12">
            <div class="input-field col s6">
              <input id="profile_name" data-id="{{user.id}}" type="text" class="validate" name="name" value="{{user.name}}">
              <label for="profile_name">Profile Name</label>
            </div>
            <div class="file-field input-field col s4">
              <div class="btn blue">
                <span>Image</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input id="image_url" class="file-path validate" type="text" name="image_url" value="{{user.image_url}}">
              </div>
            </div>
            <div class="input-field col s6">
              <input id="region" type="text" class="validate" name="region" value="{{user.region}}">
              <label for="region">Region</label>
            </div>
            <div class="col s12">
              <div class="row">
                <div class="input-field col s2">
                  <input id="keywords" type="text" class="validate" name="keywords">
                  <label for="keywords">Keywords</label>
                </div>
                <div id="keyword-list" data-keywords="{{user.keywords}}" class="col s10">
                  <ul id="navlist" class="left tags-chips">
                    {{#each user.keywords}}
                      <span class="chip yellow darken-2">{{this}}</span>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s3 offset-s4 center">
              <button id="profile-form-submit" class="btn waves-effect waves-light blue" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
